HELP.md
#target/
#!.mvn/wrapper/maven-wrapper.jar
#!**/src/main/**/target/
#!**/src/test/**/target/

### STS ###
#.apt_generated
#.classpath
#.factorypath
#.project
#.settings
#.springBeans
#.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
#*.iml
*.ipr

# All log`s file to ignore
*.log
# Temporary files
*.tmp
*.bak*
*.iml
# Ignoring all files, in idea`s directory.
.idea/
out/
target/
# maven
mvnv
mvnv.cmd